[ovirt-{{ ovirt.version }}]
name=Latest oVirt {{ ovirt.version }} Release
#baseurl=http://resources.ovirt.org/pub/ovirt-{{ ovirt.version }}/rpm/el$releasever/
mirrorlist=http://resources.ovirt.org/pub/yum-repo/mirrorlist-ovirt-{{ ovirt.version }}-el$releasever
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-ovirt-{{ ovirt.version }}
