[ovirt-4.1-epel]
name=Extra Packages for Enterprise Linux 7 - $basearch
#baseurl=http://download.fedoraproject.org/pub/epel/7/$basearch
mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=epel-7&arch=$basearch
failovermethod=priority
{%  if "ovirt-4.1-epel" in package_repo.enabled_repos %}
enabled=1
{% else %}
enabled=0
{% endif %}
includepkgs=epel-release,python-uinput,puppet,python-lockfile,python-cpopen,python-ordereddict,python-pthreading,python-inotify,python-argparse,novnc,python-ply,python-kitchen,python-daemon,python-websockify,livecd-tools,spice-html5,mom,python-IPy,python-ioprocess,ioprocess,safelease,python-paramiko,python2-paramiko,python2-crypto,libtomcrypt,libtommath,python-cheetah,python-ecdsa,python2-ecdsa,python-markdown,rubygem-rgen,ovirt-guest-agent*,userspace-rcu,protobuf-java,objenesis,python34*,hystrix-core,archaius-core,rxjava,jctools,hystrix-metrics-event-stream,jackson-core,python-simplejson
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7

[ovirt-4.1-centos-gluster38]
name=CentOS-7 - Gluster 3.8
baseurl=http://mirror.centos.org/centos/7/storage/$basearch/gluster-3.8/
gpgcheck=1
{%  if "ovirt-4.1-centos-gluster38" in package_repo.enabled_repos %}
enabled=1
{% else %}
enabled=0
{% endif %}
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-Storage

[ovirt-4.1-patternfly1-noarch-epel]
name=Copr repo for patternfly1 owned by patternfly
baseurl=http://copr-be.cloud.fedoraproject.org/results/patternfly/patternfly1/epel-7-$basearch/
{%  if "ovirt-4.1-patternfly1-noarch-epel" in package_repo.enabled_repos %}
enabled=1
{% else %}
enabled=0
{% endif %}
gpgcheck=0

[virtio-win-stable]
name=virtio-win builds roughly matching what was shipped in latest RHEL
baseurl=http://fedorapeople.org/groups/virt/virtio-win/repo/stable
{%  if "virtio-win-stable" in package_repo.enabled_repos %}
enabled=1
{% else %}
enabled=0
{% endif %}
gpgcheck=0

[ovirt-centos-ovirt41]
name=CentOS-7 - oVirt 4.1
baseurl=http://mirror.centos.org/centos/7/virt/$basearch/ovirt-4.1/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-Virtualization
{%  if 'ovirt-centos-ovirt41' in package_repo.enabled_repos %}
enabled=1
{% else %}
enabled=0
{% endif %}

[centos-opstools-release]
name=CentOS-7 - OpsTools - release
baseurl=http://mirror.centos.org/centos/7/opstools/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-OpsTools
{%  if 'centos-opstools-release' in package_repo.enabled_repos %}
enabled=1
{% else %}
enabled=0
{% endif %}

[sac-gdeploy]
name=Copr repo for gdeploy owned by sac
baseurl=https://copr-be.cloud.fedoraproject.org/results/sac/gdeploy/epel-7-$basearch/
type=rpm-md
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-gdeploy
repo_gpgcheck=0
{%  if 'sac-gdeploy' in package_repo.enabled_repos %}
enabled=1
{% else %}
enabled=0
{% endif %}
enabled_metadata=1

[ovirt-4.1-centos-qemu-ev]
name=CentOS-7 - QEMU EV
baseurl=http://mirror.centos.org/centos/7/virt/$basearch/kvm-common/
gpgcheck=1
{%  if 'ovirt-4.1-centos-qemu-ev' in package_repo.enabled_repos %}
enabled=1
{% else %}
enabled=0
{% endif %}
gpgkey=file:///etc/pki/RPM-GPG-KEY-CentOS-SIG-Virtualization

